<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>PatienApp</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="section1"  >
    <table class="table">
        <thead class="table-header">
            <tr>
                <td>ID</td><td>First Name</td><td>Last Name</td><td>Malade</td><td>Birthday</td>

            </tr>
        </thead>
        <tbody class="tab-content">
        <tr th:each="p:${patients}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.firstName}"></td>
            <td th:text="${p.lastName}"></td>
            <td th:text="${p.birthDate}"></td>
            <td th:text="${p.malade}"></td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>